
body {
    padding-bottom: 70px;
}

.navbar-brand
{
    padding-top: 4px;
}

.navbar-default
{
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover
{
    color: #F25260;
    background: #eaeaea;
}

.navbar-default .navbar-nav > li > a
{
    color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #8082a6;
    background: #FFFFFF;
}

.navbar-bottom
{
    background-color: #52504c;
}

a.navbar-text
{
    color: #FFFFFF;
    margin-right: 10px;
}

.purple-line
{
    background: #8082a6;
    height: 6px;
}

.purple-background {
    background: #8082a6;
    height: 105px;
    max-width: 250px;
    margin-left: 30px;
    margin-top: -5px;
}

.iconstyle {
    color: #F25260;
    margin-top: -9px;
}

.paragraphmargin {
    margin-top: 5px;
    padding-left: 50px;
    padding-bottom: 10px;
    max-width: 400px;
}

.headlinestyle {
    display: inline;
}

.header
{
    height: 334px;
    background-image: url('/assets/images/header-bg.jpg');
    background-position: center;
}

IMG.header
{
    margin: 0 auto;
}

.btn-lachs
{
    color: #FFFFFF;
    background-color: #F25260;
    border-color: #F25260;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.btn-lachs:hover,
.btn-lachs:focus,
.btn-lachs:active,
.btn-lachs.active
{
    color: #FFFFFF;
    background-color: #f03a4a;
    border-color: #ee2334;
}

.btn-lachs.disabled:hover,
.btn-lachs.disabled:focus,
.btn-lachs.disabled:active,
.btn-lachs.disabled.active,
.btn-lachs[disabled]:hover,
.btn-lachs[disabled]:focus,
.btn-lachs[disabled]:active,
.btn-lachs[disabled].active,
fieldset[disabled] .btn-lachs:hover,
fieldset[disabled] .btn-lachs:focus,
fieldset[disabled] .btn-lachs:active,
fieldset[disabled] .btn-lachs.active
{
    color: #FFFFFF;
    background-color: #F25260;
    border-color: #F25260;
}

.btn-lila
{
    color: #FFFFFF;
    background-color: #8082a6;
    border-color: #8082a6;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.btn-lila:hover,
.btn-lila:focus,
.btn-lila:active,
.btn-lila.active
{
    color: #FFFFFF;
    background-color: #737495;
    border-color: #737495;
}

.btn-lila.disabled:focus,
.btn-lila.disabled:active,
.btn-lila.disabled.active,
.btn-lila[disabled]:hover,
.btn-lila[disabled]:focus,
.btn-lila[disabled]:active,
.btn-lila[disabled].active,
fieldset[disabled] .btn-lila:hover,
fieldset[disabled] .btn-lila:focus,
fieldset[disabled] .btn-lila:active,
fieldset[disabled] .btn-lila.active
{
    color: #FFFFFF;
    background-color: #8082a6;
    border-color: #8082a6;
}

.btn-facebook {
    color: #FFFFFF;
    background-color: #3B5998;
    border-color: #3B5998;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;

}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
    color: #FFFFFF;
    background-color: #4060A5;
    border-color: #4060A5;
    width: 200px;
}

.btn-google {
    color: #FFFFFF;
    background-color: #d34836;
    border-color: #d34836;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;

}

.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active {
    color: #FFFFFF;
    background-color: #e64522;
    border-color: #e64522;
    width: 200px;
}

.btn-150px {

    width: 150px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 0px;
}


a.dropdown-toggle
{
    color: #8082a6;
}

.panel-default > .panel-heading
{
    color: black;
    background-color: #eaeaea;
}

.table-header > th
{
    color: white;
    background-color: #52504c;
}

.icon-lila
{
    color: #8082a6;
}

.icon-lachs
{
    color: #f03a4a;
}

.lightfont
{
    font-weight: lighter;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    /*   position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;*/
    align: center;
}


.fileupload-buttonbar{
    align-content: center;
    padding: 10px;
    margin: auto;
    display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    background: #8082a6;

}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    outline: none;
    cursor: inherit;
    display: block;
}

.whitebg {
    background-color: #ffffff !important;

}

.tablespacing {

    width: 65%;
    min-width: 600px;
    margin: auto;
}

.tablespacing2 {

    width: 40%;
    min-width: 400px;
    margin: auto;
}

.warning {
    color: #FFFFFF;
    background-color: #F25260;
    border-color: #F25260;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.warning-lachs {
    color: #FFFFFF;
    background-color: #F25260;
    border-color: #F25260;
}

.warning-lila {
    color: #FFFFFF;
    background-color: #8082a6;
    border-color: #8082a6;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #8082a6;
    background: #8082a6 !important;
    font-weight: normal;
    color: #454545;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #8082a6 !important;
    background: #8082a6 !important;
    font-weight: normal;
    color: #454545;
}

.divStackParent{
    z-index: 21;
    position: relative;

}

.label-success {
    background-color: #8082a6;
!important;
}