@()

<div id="bind-container">
    <script src="@routes.Assets.versioned("js/knockout/folder/bindings.js")" type="text/javascript"></script>

        <!-- Modal -->
    <div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id = "myModalLabel"> Speicherort </h4>
                </div>

                <div class="modal-body">
                    <div class="panel panel-default">
                            <!-- Default panel contents -->
                        <div class="panel-heading">
                            so much sharedfolderin'
                        </div>
                        <div class="panel-body">
                            <div data-bind="foreach: path()"><a href="#" data-bind="html: title() + '/&nbsp;', click: openItem"></a></div>
                        </div>

                            <!-- Table -->
                        <table class="table" style="cursor:pointer">
                            <thead>
                                <tr class="table-header">
                                    <th></th> <th>Ordner</th> <th>Beschreibung</th>
                                </tr>
                            </thead>
                                <!-- ko if: !isRootFolder() -->
                            <tbody>
                                <tr data-bind="click: openParentFolder">
                                    <td> <span class="glyphicon glyphicon-folder-open icon-lachs"></span></td>
                                    <td>..</td>
                                    <td></td>
                                </tr>
                            </tbody>
                                <!-- /ko -->
                            <tbody data-bind="foreach: items">
                                <tr data-bind="click: openItem">
                                    <td> <span class="glyphicon glyphicon-folder-open icon-lachs"></span></td>
                                    <td data-bind="text: title()"></td>
                                    <td data-bind="text: description()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-lachs" data-dismiss="modal"> Abbrechen </button>
                    <button type="button" class="btn btn-lila" data-bind = "click: $root.saveInFolder" data-dismiss = "modal">In diesem Ordner speichern</button>
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("js/knockout/folder/listViewModel.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/knockout/folder/itemViewModel.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/knockout/sharedFolder/loadData.js")" type="text/javascript"></script>
</div>