@(message: String)

@main("Stuff") {



<!--Draw Triangle -->
<div class="col-md-4 text-center">
    <canvas id="myCanvas" width="200" height="110">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <p>Datei auf die Flaeche ziehen oder </p>
        <span class="btn btn-default btn-file">
    Datei auswählen <input type="file"></span>
</div>

<script>

    var c = document.getElementById('myCanvas');
    var ctx = c.getContext('2d');

    ctx.beginPath();
    ctx.moveTo(100, 40);
    ctx.lineTo(140, 100);
    ctx.lineTo(60, 100);

    ctx.closePath();

    ctx.fillStyle = "#F25260";
    ctx.fill();

    var dropZone = document.getElementById('myCanvas');

    // Optional.   Show the copy icon when dragging over.  Seems to only work for chrome.
    dropZone.addEventListener('dragover', function(e)
    {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
    });

    // Get file data on drop
    dropZone.addEventListener('drop', function(e)
    {
        e.stopPropagation();
        e.preventDefault();
        var files = e.dataTransfer.files; // Array of all files
        for (var i=0, file; file=files[i]; i++)
        {
            if (file.type.match(/image.*/))
            {
                var reader = new FileReader();
                reader.onload = function(e2)
                { // finished reading file data.
                    var img = document.createElement('img');
                    img.src= e2.target.result;
                    document.body.appendChild(img);
                }
                reader.readAsDataURL(file); // start reading the file data.
            }
        }
    });

    $(document).on('change', '.btn-file :file', function() {
        var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

</script>

</script>

</div>

}
