@main("Hilfe")("hilfe") {
  <script src="@routes.Assets.versioned("js/knockout/knockout.mapping.js/")" type="text/javascript"></script>

  <div class="container">
    <form class="modal multi-step" id="demo-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title step-1" data-step="1">Step 1</h4>
            <h4 class="modal-title step-2" data-step="2">Step 2</h4>
          </div>
          <div class="modal-body step step-1">
            This is step 1.
          </div>
          <div class="modal-body step step-2">
            This is step 2.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent()">Continue</button>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-default" data-toggle="modal" data-target="#demo-modal">Show</button>

    <script src='@routes.Assets.versioned("js/configurator/multi-step-modal.js")' type="text/javascript"></script>

    <script>
            sendEvent = function() {
              $('#demo-modal').trigger('next.m.2');
            }
    </script>

  </div>


}