@main("Hilfe")("hilfe") {

  <div class="container">

      <div class="paragraphhelp">
          <br>
          <h4>Welche Dateien können hochgeladen werden?</h4>

          <p>so much ocr unterstützt die Verarbeitung von Dateien mit den folgenden Eigenschaften:</p>
          <ul>
              <li>Formate: JPEG, PNG, TIFF, BMP</li>
              <li>Dateigröße: maximal 25 MB</li>
          </ul>
          <br>
          <h4>Welche Dateiformate können exportiert werden?</h4>

          <p>Die Ausgabe kann im PDF oder DOCX Format erfolgen.</p>
          <br>

          <h4>Welche Faktoren beeinflussen das Ergebnis?</h4>
          <ul>
              <li>Für ein optimales Resultat sollte die Auflösung der hochgeladenen Bilder mindestens 300 dpi betragen.</li>
              <li>Die Bilder sollten gerade und unverzerrt aufgenommen sein.</li>
          </ul>
          <br>


          <h4>LDAP Account</h4>

          <p>Nach dem ersten Login ist das einmalige Anlegen eines Accounts für das CMS erforderlich.
              Dabei müssen Nutzername und Passwort jeweils mindestens 6 Zeichen lang sein.</p>

      </div>

  </div>
}