@main("Hilfe")("hilfe") {

  <div class="container">

      <div class="paragraphhelp">
          <br>
          <h4>Welche Dateien können hochgeladen werden?</h4>

          <p>So much ocr unterstützt die Verarbeitung von Dateien mit den folgenden Eigenschaften:</p>
          <ul>
              <li>Formate: JPEG, PNG, TIFF, BMP</li>
              <li>Dateigröße: maximal 25 MB</li>
          </ul>
          <br>
          <h4>Welche Dateiformate können exportiert werden?</h4>

          <p>Die Ausgabe kann im PDF oder DOCX Format erfolgen.</p>
          <br>
          <h4>LDAP Account</h4>

          <p>Nach dem ersten Login ist das Anlegen eines Accounts für das CMS erforderlich.
              Dabei müssen Nutzername und Passwort jeweils mindestens 6 Zeichen lang sein.</p>
          <br>
          <h4>HOWTO mit Bildern</h4>

          <p>folgt wenn Screenshots möglich sind</p>
      </div>

  </div>
}