@main("Hochladen")("hochladen") {
<div class="container">
    <!-- content begins here -->
  <br />
  <br />
  <div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">Dein Upload</div>
    <div class="panel-body">
      <p>Hier sieht man drei Zebras.</p>
    </div>
      <!-- Table -->
    <table class="table">
      <thead>
        <tr class="table-header">
          <th>#</th>
          <th>Datei</th>
          <th>Sprache</th>
          <th>Typ des Dokuments</th>
          <th>Bereich anpassen</th>
          <th>Löschen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>John</td>
          <td class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deutsch<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Englisch</a>
              </li>
            </ul>
          </td>
          <td class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rechnung<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Benutzerdefiniert</a>
              </li>
            </ul>
          </td>
          <td class="text-center">
            <a href="#"><span class="glyphicon glyphicon-pencil icon-lila" aria-hidden="true"></span></a>
          </td>
          <td class="text-center">
            <a href="#"><span class="glyphicon glyphicon-trash icon-lachs" aria-hidden="true"></span></a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Heizung</td>
          <td class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deutsch<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Englisch</a>
              </li>
            </ul>
          </td>
          <td class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rechnung<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Benutzerdefiniert</a>
              </li>
            </ul>
          </td>
          <td class="text-center">
            <a href="#"><span class="glyphicon glyphicon-pencil icon-lila" aria-hidden="true"></span></a>
          </td>
          <td class="text-center">
            <a href="#"><span class="glyphicon glyphicon-trash icon-lachs" aria-hidden="true"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <label class="pull-right">
    <span class="lightfont"> <input type="checkbox" value="">&nbspzu einem Dokument zusammenfassen</span>
    <button type="button" class="btn btn-lila pull-right" href="#">Erkennen</button>
  </label>
</div>
}