@import be.objectify.deadbolt.java.views.html.{subjectPresent, subjectPresentOr}
@(target: Boolean = false, path: String = null)

@main("Willkommen")() {
    @if(target){
        <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.warning('Sie werden autmatisch zu "@path" weitergeleitet..', 'Bitte melden Sie sich an');
    </script>
    }

    <div class="header">
        <img src='@routes.Assets.versioned("images/willkommen.png")' class="header visible-md visible-lg visible-sm hidden-xs" />
        <img src='@routes.Assets.versioned("images/willkommen-xs.png")' class="header img-responsive visible-xs hidden-sm hidden-md hidden-lg" />
    </div>
    <div class="purple-line">
    </div>
    <div class="container-fluid">
            <!-- content begins here -->
        <p><a href="@routes.AuthenticationController.login(0)">Google login</a></p>
        <p><a href="@routes.AuthenticationController.login(1)">Facebook login</a></p>
        <p><a href="@routes.AuthenticationController.stubLogin()">Stub Login</a></p>
        <p><a href="@routes.AuthenticationController.logout()">Logout</a>
            Sollte nur fehlerfrei nach Stub Login funktionieren
        </p>
    </div>


}
