@import be.objectify.deadbolt.java.views.html.{subjectPresent, subjectPresentOr}
@(target: Boolean = false, path: String = null)

@main("Willkommen")() {
    @if(target){
        <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.warning('Sie werden autmatisch zu "@path" weitergeleitet..', 'Bitte melden Sie sich an');
    </script>
    }

    <div class="header">
        <img src='@routes.Assets.versioned("images/willkommen.png")' class="header visible-md visible-lg visible-sm hidden-xs" />
        <img src='@routes.Assets.versioned("images/willkommen-xs.png")' class="header img-responsive visible-xs hidden-sm hidden-md hidden-lg" />
    </div>
    <div class="purple-line">
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 purple-background">

            <a href="@routes.AuthenticationController.login(1)" class="btn btn-facebook">

                <span>Mit Facebook anmelden</span>
            </a>
            <br>
            <a href="@routes.AuthenticationController.login(0)" class="btn btn-google">

                <span>Mit Google+ anmelden</span>
            </a>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <br>
            <br>
            <i class="glyphicon glyphicon glyphicon glyphicon glyphicon-file btn-lg pull-left iconstyle"
               aria-hidden="true"></i>

            <h3 class="headlinestyle">Dokumente einscannen</h3>

            <p class="paragraphmargin">Mit so much ocr können Sie eingescannte Dokumente bequem in Text umwandeln.</p>
            <i class="glyphicon glyphicon glyphicon-edit btn-lg pull-left iconstyle" aria-hidden="true"></i>

            <h3 class="headlinestyle">Nachträglich editieren</h3>

            <p class="paragraphmargin">Bearbeiten Sie die Ergebnisse direkt online.</p>
            <i class="glyphicon glyphicon-align-left btn-lg pull-left iconstyle" aria-hidden="true"></i>

            <h3 class="headlinestyle">So much Ergebnis haben!</h3>

            <p class="paragraphmargin">Ihre Dokumente können online verwaltet und im Word- oder PDF-Format exportiert
                werden.</p>

        </div>
        <div class="col-md-2"></div>
    </div>

    <a href="@routes.AuthenticationController.stubLogin()" class="btn btn-lila pull-left">

        <span>stub login</span>
    </a>
    <br><br>

</div>
}
