@import be.objectify.deadbolt.java.views.html.{subjectPresent, subjectPresentOr}
@(title: String, scripts: Html = Html(""))(section: String = "NULL")(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>so much @title</title>
        <link rel="shortcut icon" type="image/x-icon" href='@routes.Assets.versioned("images/favicon.ico")'>

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/toastr.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("knockout.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("js/toastr/toastr.js")'></script>

        @scripts
    </head>
    <body>
        @subjectPresent(){
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">
                        <img src='@routes.Assets.versioned("images/logo.png")' alt="so much ocr" height="40">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li @if(section.equals("hochladen")) {class="active"}>
                            <a href="@routes.Application.hochladen(1)">Hochladen</a>
                        </li>
                        <li @if(section.equals("verwalten")) {class="active"}>
                            <a href="@routes.Application.verwalten()">Verwalten</a>
                        </li>
                        <li @if(section.equals("ablage")) {class="active"}>
                            <a href="@routes.Application.ablage()">Ablage</a>
                        </li>
                        <li @if(section.equals("hilfe")) {class="active"}>
                            <a href="@routes.Application.hilfe()">Hilfe</a>
                        </li>
                        <li>
                            <a href="@routes.AuthenticationController.logout()">Abmelden</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        }
        <!-- content begins here -->
        @content
        <!-- content ends here -->

        <!-- footer -->
        <div class="navbar navbar-bottom navbar-fixed-bottom">
            <div class="container-fluid">
                <a href="#kontakt.html" class="navbar-text pull-left">Kontakt</a>
                <a href="#impressum.html" class="navbar-text pull-left">Impressum</a>
                <a href="#wtf.html" class="navbar-text pull-left">Das &Uumlbliche</a>
                <a href="#" class="navbar-text pull-right">
                    <img src='@routes.Assets.versioned("images/socialnetwork.png")' alt="so much ocr">
                </a>
            </div>
        </div>
        <!-- footer end -->
    </body>

    <!-- scripts which need complete DOM-tree -->

    <!-- scripts end -->
</html>
