@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("knockout.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@routes.Application.index()">Platzhalter</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <!-- TODO: active one must be defined by parameter -->
                            <li class="active"><a href="@routes.Application.index()">Main</a></li>
                            <li><a href="@routes.Application.dummy()">Page 1</a></li>
                            <li><a href="@routes.Application.dummy()">Page 2</a></li>
                            <li><a href="@routes.Application.dummy()">Page 3</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>@content</div>
        </div>
        <div class="container">
            <form action="@routes.Application.login()">
                <input type="submit" value="Login with Google">
            </form>
        </div>
    </body>
    <!-- scripts which need complete DOM-tree -->

    <!-- scripts end -->
</html>
