@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("knockout.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@routes.Application.index()"  >so much ocr
                            </a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <!-- TODO: active one must be defined by parameter -->
                            <li class="active"><a href="@routes.Application.index()">Main</a></li>
                            <li class="active"><a href="@routes.Application.upload()">Upload</a></li>
                            <li class="active"><a href="@routes.Application.buttonup()">Buttonup</a></li>
                            <li><a href="@routes.Application.dummy()">Page 1</a></li>
                            <li><a href="@routes.Application.dummy()">Page 2</a></li>
                            <li><a href="@routes.Application.dummy()">Page 3</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div>@content</div>
        </div>
        <div class="container">
            <!--<a class="btn sharp" href="@routes.AuthenticationController.login(1)" role="button">Link</a>-->

            <!--Draw Triangle -->
            <!--<div>
                <canvas id="myCanvas" width="250" height="250">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>

                <script>

                    var c = document.getElementById('myCanvas');
                    var ctx = c.getContext('2d');

                    ctx.beginPath();
                    ctx.moveTo(100, 40);
                    ctx.lineTo(140, 100);
                    ctx.lineTo(60, 100);

                    ctx.closePath();

                    ctx.fillStyle = "#F25260";
                    ctx.fill();

                    var dropZone = document.getElementById('myCanvas');

                    // Optional.   Show the copy icon when dragging over.  Seems to only work for chrome.
                    dropZone.addEventListener('dragover', function(e)
                    {
                        e.stopPropagation();
                        e.preventDefault();
                        e.dataTransfer.dropEffect = 'copy';
                    });

                    // Get file data on drop
                    dropZone.addEventListener('drop', function(e)
                    {
                        e.stopPropagation();
                        e.preventDefault();
                        var files = e.dataTransfer.files; // Array of all files
                        for (var i=0, file; file=files[i]; i++)
                        {
                            if (file.type.match(/image.*/))
                            {
                                var reader = new FileReader();
                                reader.onload = function(e2)
                                { // finished reading file data.
                                    var img = document.createElement('img');
                                    img.src= e2.target.result;
                                    document.body.appendChild(img);
                                }
                                reader.readAsDataURL(file); // start reading the file data.
                            }
                        }
                    });

                </script>

            </div>-->

        </div>







        <div class="container">
            <form action="@routes.Application.testDatabase()">
                <input type="submit" value="Create Database">
            </form>
        </div>
    </body>

    <!-- scripts which need complete DOM-tree -->

    <!-- scripts end -->
</html>
