@import modules.database.entities.User
@(user: User)

@main("Verwalten")("verwalten"){
    <div class="container tablespacing2">
        <div class="panel panel-default">
                <!-- Default panel contents -->
            <div class="panel-heading">Verwalten</div>
            <div class="panel-body">
                <p>Hier verwirren wir Sie mit Benutzerkonten</p>
            </div>
                <!-- Table -->
            <table class="table">
                <thead>
                    <tr class="table-header">
                        <th>Account-Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>E-Mail:</td>
                        <td id="email">@user.geteMail()</td>
                    </tr>
                    <tr>
                        <td>Rollen:</td>
                        <td>
                            @for(p <- user.getRoles) {
                                @{p.getName.toUpperCase + " "}
                            }
                            @if(user.getRoles == null || user.getRoles.isEmpty){
                                -
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Berechtigungen:</td>
                        <td>
                            @for(p <- user.getPermissions) {
                                @{p.getValue.toUpperCase + " "}
                            }
                            @if(user.getPermissions == null || user.getPermissions.isEmpty){
                                -
                            }
                        </td>
                    </tr>
                </tbody>

                <thead>
                    <tr class="table-header">
                        <th>CMS-Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CMS-Nutzername:</td>
                        <td>
                        <div><input id="cmsAccount" data-bind="value: user().cmsAccount" type="text" class="form-control"
                        @if(user.getCmsAccount != null){value="@user.getCmsAccount()" disabled}
                        placeholder="CMS-Nutzername"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>CMS-Passwort ändern:</td>
                        <td>
                            <div><input data-bind="value: user().password" type="password" class="form-control" id="pw1"
                            placeholder="Passwort" @if(user.getCmsAccount != null){disabled}>
                            </div>
                    </tr>
                    <tr>
                        <td>Passwort wiederholen:</td>
                        <td>
                            <div><input data-bind="value: user().passwordConfirm" type="password" class="form-control" id="pw2"
                            placeholder="Passwort" @if(user.getCmsAccount != null){disabled}>

                            </div>
                        </td>
                    </tr>

                </tbody>
                <thead>
                    <tr class="table-header">
                        <th>Sonstiges</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sprache:</td>
                        <td class="dropdown">
                            <select id="language" data-bind="options: languages, optionsText: function(item) {
                                                                return item.language}, value: user().language">@user.getCountry.getCountry.getName</select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p id="errormsg" class="warning"></p>
        <button type="button" class="btn btn-lila pull-right" data-bind="click: sendUser" href="#">Übernehmen</button>
    </div>

    <script src='@routes.Assets.versioned("js/knockout/user/app.js")' type="text/javascript"></script>
}